.App {
  text-align: center;
}
.css-1iz24ed-MuiChip-root
{
  background-color:#87cefa !important;

}
a{
  text-decoration: none;
}
.css-1iz24ed-MuiChip-root:hover{
  color: red;
}
.css-e784if-MuiTypography-root{
  margin-bottom: 33px !important;
}
body{
  background-color: #f9f9fc;
}